<h2 class="center">Welcome to Earley Bird Armory!<h2>
	<h5>We are currently under construction, but if you have any questions, feel free to <a href="contact" target="_blank">contact us</a>.</h5>
		<p>We specialize in leather works of all kinds. Please see our <a href="https://www.facebook.com/earleybirddesigns/" target="_blank">Facebook page</a> for photos and other information while we continue to hammer out some website code. :)</p>


