<h2 class='center'>Galleries</h2>
<p>Check it! It's our gallery page! We're always uploading new content, so make sure you check back or follow us on: 
	<a href="twitter"><button class="twitter">Twitter</button>
	<a href="https://www.facebook.com/earleybirddesigns/" target="_blank"><button>Facebook</button></a>
<div class="col-md-6	col-md-offset-1">
	<div><%= image_tag "collar_test.JPG" %></div>
</div>
