<h2 class="center">About Us</h2>
	<div class="row">
		<div class="col-md-5">
			<h3>Austin Earley</h3>
			<p>Austin is our designer, artisan, and model. He's a pup-father to an adorable Shepard/Lab mix named Odin. He loves leatherworking, and Celtic knots.</p>
		</div>
		<div class="col-md-5 center">
			<div>
				<%= image_tag "austin_earley.jpg", class: "rounded gallery-size" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div>
				<%= image_tag "arialle_earley.png", class: "rounded gallery-size" %>
			</div>
		</div>
		<div class="col-md-5 right">
			<h3>Arialle Dye</h3>
			<p>Arialle is our website guru, businesswoman, and model. She's a pup-mother to a cute little Jack Russell Terrier mix nicknamed Marky. She loves web development, design and dancing.</p>
		</div>
	</div>

