/* - - - - Custom - - - - */

/*Attributes*/
/*Body*/
/*Box-Sizing*/
/*Buttons*/
/*Columns*/
/*Alignment*/
/*Headings*/
/*Images*/
/*Paragraphs*/
/*Navbar*/
/*Well*/


/* - Center - */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}


/* - Attributes - */
a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #f8991d;
}



/* - Body - */
body {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 23.125px;
  line-height: 1.428571429;
  color: #E6E6E6; 
  min-height: 1200px;
}

.backimg {
  background-image: url('rocks-fog-path-foggy.jpg');
}

.overlay {
  background-color: rgba(255,255,255,0.25);
}



/* - Box-Sizing - */
html {
  box-sizing: inherit;
}
*, *:before, *:after {
box-sizing: inherit;
}



/*Buttons*/

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

button {
  background-color: #ffffff;
  border: solid 2px #ebebeb;
  border-radius: 5px;
  color: #000000;
  display: inline-block;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
}

button a {
  text-decoration: none;
}

button a:hover {
  color: #383434;
  text-decoration: none;
}

button:hover {
  color: #383434;
  text-decoration: none;
}

.facebook {
  background-color: #3b5998;
  color: #ffffff;
}

.facebook:hover {
  background-color: rgba(59, 89, 152, 0.55);
  color: rgba(0, 0, 0, 0.55);
}

.twitter {
  background-color: #1da1f2;
  color: #ffffff;
}

.twitter:hover {
  background-color: rgba(29, 161, 242, 0.55);
  color: rgba(0, 0, 0, 0.55);
}



/* - Columns - */
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.row {
  margin-left: 10%;
}

.over-con {
  width: 100%;
  min-height: 1200px;
  background-color: rgba(255,255,255,0.25);
}



/* - Headings - */

h1, h2, h3, h4 {
	font-family: "Eagle Lake", Arial;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

h5, h6 {
	font-family: "Rubik", Arial;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 33.3px;
}

h5 {
	font-size: 27.75px;
}

h6 {
	font-size: 23.125px;
}



/* - Images - */
.rounded {
  border-radius: 10px;
}

.circle {
  border-radius: 50%;
}

.gallery-size {
  width: 300px;
  height: 300px;
}


/* - Paragraphs - */
p {
  font-size: 25px;
}



/* - NavBar - */

img.celtic-head {
	max-width: 50%;
	padding-left: 25%;
  padding-top: 10px;
}

.navbar-brand {
  color: #383434;
  float: right;
  font-size: 56px;
  font-family: "Eagle Lake";
  height: 90px;
  line-height: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: auto;
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.navbar-collapse {
  background: rgba(248, 153, 29, .5);
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.navbar-default .navbar-brand {
  color: #383434;
}

.navbar-default .navbar-brand:hover {
  color: #383434;
}

.navbar-default {
  background-color: inherit;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
  color: #231f20;
  text-decoration: none;
}

.navbar {
  position: relative;
  min-height: 100px;
  margin-bottom: 0;
  border: none;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0; 
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 360px) {
	.center-logo {
		margin-left: 21%;
	}
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
    text-align: center;
  }
}

@media (min-width: 411px) {
	.center-logo {
		margin-left: 24%;
	}
}

@media (min-width: 768px) {
	.center-logo {
		margin-left: 38%;
	}
	.navbar-nav {
	    float: left;
	    margin: 20px;
	}
  .navbar {
      border-radius: 0;
  }
}

@media (min-width: 992px) {
	.center-logo {
		margin-left: 40%;
	}
}

@media (min-width: 1280px) {
	.center-logo {
		margin-left: 38%;
	}
}



/*Well*/

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



